local_backend: true

backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"

media_folder: static/img
public_folder: /img

collections:
  - name: "navbar"
    label: "Navbar"
    files:
      - file: "src/data/navbar.md"
        label: Links
        name: links
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "index-page",
            }
          - {
              label: "Type",
              name: "type",
              widget: "hidden",
              default: "nav-link",
            }
          - {
              label: "Link",
              name: "link",
              collapsed: false,
              widget: "list",
              fields:
                [
                  { label: "Label", name: "label", widget: "string" },
                  {
                    label: "Target",
                    name: "target",
                    widget: "select",
                    options: ["id1", "id2", "id3"],
                  },
                ],
            }

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "first Page"
        name: "index"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "index-page",
            }
          - {
              label: "sectionTitle",
              name: "sections",
              collapsed: false,
              widget: "list",
              fields:
                [
                  { label: Title, name: title, widget: string },
                  {
                    label: Type,
                    name: type,
                    widget: "select",
                    options:
                      [
                        "sectionTitle",
                        "sectionText",
                        "sectionIcon",
                        "sectionCarousel",
                      ],
                  },
                ],
            }
